   {% load static %}
   <!-- navbar-->
   <header class="header">                   
    <nav class="navbar navbar-expand-lg navbar-light py-4 index-forward bg-white">
      <div class="container d-flex justify-content-center justify-content-lg-between align-items-center">
        <img class="img-fluid" src="{% static 'img/background.png' %}" alt="" width="70">
        <a class="navbar-brand" href=""></a>
        <a class="reset-anchor text-sm mb-0 h6 d-none d-lg-block" href=""><i class="far fa-envelope me-2 text-primary"></i>rosekairu@gmail.com</a>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light border-top border-bottom border-light">
      <div class="container">
        <ul class="list-inline small mb-0 text-dark d-block d-lg-none">
          <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <!-- Navbar link-->
              <a class="nav-link" href="/">Home</a>
            </li>
           
            <li class="nav-item">
              <!-- Navbar link-->
              <a class="nav-link active" href="/blog">Blogs</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>